{% extends "base.html" %}
{% block content %}
  <form action="/fart" method="post">
    <button class="block w-full py-2 text-2xl text-white bg-yellow-700 rounded">
      fart
    </button>
  </form>

  <div class="lg:grid lg:grid-cols-[3fr_1fr]">
    <div>
      <h2>hello world 💎</h2>
    </div>
    <div style="grid-column: 2">
      <p>
        <b>farttr</b>
        is a new kind of social media posting experience website.<br/>
        <b>farttr</b>
        is user customer centric focused, its bringing the moves and the sounds and smells.
        <br/>
        <b>farttr</b>
        makes hanging out with your mates funnier and worth it.<br/>
        <b>farttr</b>
        is the next big thing that is gonna leave NFT metaverse web3 in the fuckin dust.
      </p>
    </div>
  </div>

{% endblock %}
